{% load i18n %}
<div>{{ title|capfirst }}</div>

<select
  id="admin-filter-{{ title|cut:' ' }}"
  onchange="go_from_select(this.options[this.selectedIndex].value)"
>
  {% for choice in choices %}
    <option
      {% if choice.selected %}selected="selected"{% endif %}
      value="{{ choice.query_string|iriencode }}"
    >
      {{ choice.display }}
    </option>
  {% endfor %}
</select>

<script type="text/javascript">
var go_from_select = function(opt) { window.location = window.location.pathname + opt };
</script>
