{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list select_filter %}

{% block filters %}
  {% if cl.has_filters %}
  <div id="changelist-filter">
    <h2>Filtros</h2>

    <div class="filtros">
      {% for spec in cl.filter_specs %}
        <div class="filtro">
          {% admin_select_filter cl spec %}
        </div>
      {% endfor %}

      {% if cl.has_active_filters %}
      <div id="changelist-filter-clear">
        <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}

<style type="text/css">
#changelist {
  flex-direction: column;
  align-items: stretch;
}

#changelist .changelist-form-container {
  order: 1;
}
#changelist-filter {
  flex: unset;
  flex-basis: unset !important;
  order: 0;
  margin: 0 0 15px !important;
  padding-bottom: 0;
}

#changelist-filter h2 {
  flex: 100%;
  margin: 0;
}
#changelist-filter .filtros {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
}
#changelist-filter .filtro {
  flex: 1 1 200px;
  margin: 5px;
  max-width: 410px;
}
#changelist-filter .filtro select {
  width: 100%;
}
#changelist-filter #changelist-filter-clear {
  flex: 100%;
  text-align: right;
}
#changelist-filter #changelist-filter-clear a {
  padding-bottom: 0;
  border-bottom: 0;
  margin: 0 5px 5px;
}

</style>
{% endblock %}
